
<div id="idSemaforoPrivacidad" style="padding: 20px;">
    <div class="d-flex">
        <div class="mbz-w-100p pb-2">
            <iframe src="data:application/pdf;base64,@Convert.ToBase64String(@DocumentoPdf)#zoom=FitH" typeof="application/pdf" style="width: 100%; height: 340px; border: 1px solid #707070; " frameborder="0"></iframe>
        </div>
    </div>
</div>

@code {
    [Parameter] public byte[] DocumentoPdf { get; set; }
}
