@page "/agenciaAdmin"

<div class="mbz-row-center">
    <div class="mbz-card-titulo-1 ">
        <span class="mbz-font-ATitleCondOffice-40">Administración de agencias</span>
    </div>
</div>

<div class="mbz-row-center">
    <div class="mbz-card-home">
        <a href="agenciaNueva">
            <div class="mbz-card-home-opcion mbz-text-dark">
                <div class="p-3"></div>
                <div>
                    <img src="../image/Agencias.png" />
                </div>
                <div class="p-3">
                    <span>Agregar agencia</span>
                </div>
            </div>
        </a>
    </div>
    <div class="mbz-card-home">
        <a href="agenciaLista">
            <div class="mbz-card-home-opcion mbz-text-dark">
                <div class="p-3"></div>
                <div>
                    <img src="../image/ListaAgencias.png" />
                </div>
                <div class="p-3">
                    <span>Lista de Agencias</span>
                </div>
            </div>
        </a>
    </div>
</div>
