@page "/reporteLista"

<div class="mbz-row-center">
    <div class="mbz-card-titulo-1 ">
        <span class="mbz-font-ATitleCondOffice-40 mbz-text-secondary">Reportes</span>
    </div>
</div>

<div class="mbz-row-center">
    <div class="mbz-card-center">
        <a href="reporteSemaforos">
            <div class="mbz-card-reporte-opcion mbz-text-dark">
                <div class="p-2"></div>
                <div>
                    <img src="../image/reportes/Semaforos.png" />
                </div>
                <div class="p-2">
                    <span>Semáforos</span>
                </div>
            </div>
        </a>
    </div>
    <div class="mbz-card-center">
        <a href="reporteEnvioDetalles">
            <div class="mbz-card-reporte-opcion mbz-text-dark">
                <div class="p-2"></div>
                <div>
                    <img src="../image/reportes/Envios.png" />
                </div>
                <div class="p-2">
                    <span>Detalle de envío</span>
                </div>
            </div>
        </a>
    </div>
    <div class="mbz-card-center">
        <a href="reporteSemaforoFacialDetalles">
            <div class="mbz-card-reporte-opcion mbz-text-dark">
                <div class="p-2"></div>
                <div>
                    <img src="../image/reportes/ComparativoFacial.png" />
                </div>
                <div class="p-2">
                    <span>Comparativo facial</span>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="mbz-row-center">
    <div class="mbz-card-center">
        <a href="reporteBitacoras">
            <div class="mbz-card-reporte-opcion mbz-text-dark">
                <div class="p-2"></div>
                <div>
                    <img src="../image/reportes/Bitacora.png" />
                </div>
                <div class="p-2">
                    <span>Bitácora</span>
                </div>
            </div>
        </a>
    </div>
    <div class="mbz-card-center">
        <a href="reporteListasNegras">
            <div class="mbz-card-reporte-opcion mbz-text-dark">
                <div class="p-2"></div>
                <div>
                    <img src="../image/reportes/ListaNegra.png" />
                </div>
                <div class="p-2">
                    <span>Lista Negra</span>
                </div>
            </div>
        </a>
    </div>
    <div class="mbz-card-center">
        <div class="mbz-card-reporte-opcion border-0">
        </div>
    </div>

</div>
